.service h3 {
  color: var(--accent-color);
  font-size: 1.4em;
  text-align: center;
}

.service h3::after {
  content: "";

  width: 100%;
  height: 0.15em;

  background: linear-gradient(95deg, var(--primary-color) 0%, var(--accent-color) 100%);
  
  position: absolute;
  top: 110%;
  left: 0%;
}

.service .content {
  color: var(--primary-color);
}

